<h1 class="encabezado pp">Accesorios</h1>



<div class="table-responsive">
    <table class="table">

        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Número de identificación</th>
                <th>Número de serie</th>
                <th>Bien o Servicio Proporcionado</th>
                <th>Especificaciones</th>
                <th>Proveedor</th>
                <th>Encargado</th>
                <th>Fecha de compra</th>
                <th>Fecha de Asignación (salida)</th>
                <th>Área</th>
                <th>Comentarios</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let accesorio of accesorios | paginate: { itemsPerPage: 7, currentPage: page }">

                <a href="# " class="float-right negro " data-target="#recuperarContraseña " data-toggle="modal" data-whatever="@mdo">
                    <td><button type="button" class="btn btn-outline-dark"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg></button></td>
                </a>

                <td><button (click)="eliminarAccesorio(accesorio)" type="button" class="btn btn-outline-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></button></td>
                <td>{{accesorio.id_accesorio}} </td>
                <td>{{accesorio.acc_num_serie}} </td>
                <td>{{accesorio.serv_nombre}} </td>
                <td>{{accesorio.acc_especificaciones}}> </td>
                <td>{{accesorio.nombre_proveedor}} </td>
                <td>{{accesorio.nombre_encargado}} </td>
                <td>{{accesorio.acc_fecha_compra}} </td>
                <td>{{accesorio.acc_fecha_asignacion}} </td>
                <td>{{accesorio.area_nombre}} </td>
                <td>{{accesorio.acc_comentarios}} </td>
            </tr>


        </tbody>
    </table>

    <pagination-controls (pageChange)="page = $event" previousLabel="«" nextLabel="»" class="color" class="custom-pagination pp"></pagination-controls>
</div>



<!--Formulario modal Recuperar contraseña-->

<!-- <div class="modal fade" data-backdrop="static" data-keyboard="false" id="recuperarContraseña" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <a></a>
                <h2 id="exampleModalLabel">

                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{accesorioActualizar.id_accesorio}}" />
                        <label for="recipient-name" class="col-form-label">Ingrese id servicio</label>
                        <input type="text" class="form-control" value="{{accesorioActualizar.acc_num_serie}}" />
                        <label for="recipient-name" class="col-form-label">Ingrese especificaciones </label>
                        <input type="text" class="form-control" value="{{accesorioActualizar.fk_id_area}}" />
                        <label for="recipient-name" class="col-form-label">Ingrese proveedor</label>
                        <input type="text" class="form-control" />
                        <label for="recipient-name" class="col-form-label">Ingrese su encargado</label>
                        <input type="text" class="form-control" />
                        <label for="recipient-name" class="col-form-label">Ingrese la fecha de compra</label>
                        <input type="text" class="form-control" />
                        <label for="recipient-name" class="col-form-label">Ingrese la fecha de asignacion</label>
                        <input type="text" class="form-control" />
                        <label for="recipient-name" class="col-form-label">Ingrese el id de area </label>
                        <input type="text" class="form-control" />
                        <label for="recipient-name" class="col-form-label">Ingrese comentarios</label>
                        <input type="text" class="form-control" />

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn estilosBotonesHover estilosBotones">
    Enviar
  </button>

            </div>
        </div>
    </div>
</div> -->