<h1 class="encabezado pp">
    Accesorios</h1>

<a href="# " class="float-right negro " data-target="#addAcce" data-toggle="modal" data-whatever="@mdo">Agregar nuevo accesorio</a>


<div class="table-responsive">
    <table class="table">

        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Número de identificación</th>
                <th>Número de serie</th>
                <th>Bien o Servicio Proporcionado</th>
                <th>Especificaciones</th>
                <th>Proveedor</th>
                <th>Encargado</th>
                <th>Fecha de compra</th>
                <th>Fecha de Asignación (salida)</th>
                <th>Área</th>
                <th>Comentarios</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let accesorio of accesorios | paginate: { itemsPerPage: 7, currentPage: page }">

                <a href="# " class="float-right negro " data-target="#actuAcce " data-toggle="modal" data-whatever="@mdo">
                    <td><button (click)="obtenerAcceUni(accesorio.id_accesorio)" type="button" class="btn btn-outline-dark"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg></button></td>
                </a>

                <td><button (click)="eliminarAccesorio(accesorio)" type="button" class="btn btn-outline-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></button></td>

                <td>{{accesorio.id_accesorio}} </td>
                <td>{{accesorio.acc_num_serie}} </td>
                <td>{{accesorio.serv_nombre}} </td>
                <td>{{accesorio.acc_especificaciones}}</td>
                <td>{{accesorio.nombre_proveedor}} </td>
                <td>{{accesorio.nombre_encargado}} </td>
                <td>{{accesorio.acc_fecha_compra}} </td>
                <td>{{accesorio.acc_fecha_asignacion}} </td>
                <td>{{accesorio.area_nombre}} </td>
                <td>{{accesorio.acc_comentarios}} </td>
                <td *ngIf="accesorio.acc_status"><button type="button" class="btn btn-success" disabled></button></td>
                <td *ngIf="!accesorio.acc_status"><button type="button" class="btn btn-danger" disabled></button></td>


                <!-- <ng-template #elseBlock>
                    <button type="button" class="btn btn-danger"></button>

                </ng-template> -->


            </tr>


        </tbody>
    </table>

    <pagination-controls (pageChange)="page = $event" previousLabel="«" nextLabel="»" class="color" class="custom-pagination pp"></pagination-controls>
</div>

<!-- modal agregar accesorio -->

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="addAcce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <a></a>
                <h2 id="exampleModalLabel">
                    Agregar accesorio
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="crearAccesorio(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Ingresa el ID</label>
                        <input type="text" class="form-control" id="id_accesorio" name="id_accesorio" [(ngModel)]="nuevoAccesorio.id_accesorio" />
                        <label for="recipient-name" class="col-form-label">Ingresa numero de serie</label>
                        <input type="text" class="form-control" id="numero_serie" name="numero_serie" [(ngModel)]="nuevoAccesorio.acc_num_serie" />
                        <label for="recipient-name" class="col-form-label">Selecciona el servicio</label>
                        <select (change)="servicioSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect01">
                            <option selected>Selecciona un servicio...</option>

                            <option *ngFor="let servicio of servicios" 
                                [value]="servicio.id_servicio">{{servicio.serv_nombre}}
                            </option>
                           
                        </select>
                        <a href="# " class="float-right negro " data-target="#addServ" data-toggle="modal" data-whatever="@mdo">Agregar nuevo servicio</a>



                        <!-- <input type="text" class="form-control" id="id_servicio" name="id_servicio" [(ngModel)]="nuevoAccesorio.fk_id_servicio" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese especificaciones </label>
                        <input type="text" class="form-control" id="especificaciones" name="especificaciones" [(ngModel)]="nuevoAccesorio.acc_especificaciones" />
                        <label for="recipient-name" class="col-form-label">Ingrese proveedor</label>
                        <select (change)="proveedorSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect02">
                            <option selected>Selecciona un proveedor...</option>

                            <option *ngFor="let prove of proveedor" value="{{prove.id_proveedor}}" >{{prove.nombre_proveedor}}</option>
                           
                          </select>
                        <a href="# " class="float-right negro " data-target="#addProve" data-toggle="modal" data-whatever="@mdo">Agregar nuevo proveedor</a>

                        <!-- <input type="text" class="form-control" id="provedor" name="provedor" [(ngModel)]="nuevoAccesorio.fk_id_proveedor" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese su encargado</label>
                        <select (change)="encargadoSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect03">
                            <option selected>Selecciona un encargado...</option>

                            <option *ngFor="let per of personal " value ="{{per.id_personal}}" >{{per.personal_nombre}} {{per.personal_apellidos}}</option>
                           
                          </select>
                        <!-- <input type="text" class="form-control" id="encargado" name="encargado" [(ngModel)]="nuevoAccesorio.fk_id_encargado" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese la fecha de compra</label>
                        <input type="date" class="form-control" id="fecha_compra" name="fecha_compra" [(ngModel)]="nuevoAccesorio.acc_fecha_compra" />
                        <label for="recipient-name" class="col-form-label">Ingrese la fecha de asignacion</label>
                        <input type="date" class="form-control" id="fecha_asignacion" name="fecha_asignacion" [(ngModel)]="nuevoAccesorio.acc_fecha_asignacion" />
                        <label for="recipient-name" class="col-form-label">Ingrese el id de area </label>
                        <select (change)="areaSeleccionada($event.target.value)" class="custom-select" id="inputGroupSelect04">
                            <option selected>Selecciona un area...</option>

                            <option *ngFor="let are of areas" value="{{are.id_area}}" >{{are.area_nombre}}</option>
                           
                          </select>
                        <!-- <input type="text" class="form-control" id="id_area" name="id_area" [(ngModel)]="nuevoAccesorio.fk_id_area" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese comentarios</label>
                        <input type="text" class="form-control" id="comentarios" name="comentarios" [(ngModel)]="nuevoAccesorio.acc_comentarios" />


                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                Enviar
                            </button>

                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<!-- modal crear servicio -->

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="addServ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <a></a>
                <h2 id="exampleModalLabel">
                    Agregar Servicio
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="crearServicio(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Ingresa el servicio</label>
                        <input type="text" class="form-control" id="serv_nombre" name="serv_nombre" [(ngModel)]="nuevoServicio.serv_nombre" />

                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                Enviar
                            </button>

                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<!-- modal crear proveedor -->

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="addProve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <a></a>
                <h2 id="exampleModalLabel">
                    Agregar Proveedor
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="crearProveedor(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Ingresa el proveedor</label>
                        <input type="text" class="form-control" id="nombre_proveedor" name="nombre_proveedor" [(ngModel)]="nuevoProveedor.nombre_proveedor" />

                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                Enviar
                            </button>

                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>



<!-- modal actualizar accesorio -->

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="actuAcce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bgCorp">
                <a></a>
                <h2 id="exampleModalLabel">
                    Actualizar accesorio
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="actualizarAccesorio(fAcc)" #fAcc="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ID del accesorio</label>
                        <input type="text" disabled value="{{editAccesorio.id_accesorio}}" class="form-control" id="id_accesorio_Acc" name="id_accesorio_Acc" [(ngModel)]="editAccesorio.id_accesorio" />
                        <label for="recipient-name" class="col-form-label">Ingresa numero de serie</label>
                        <input type="text" value="{{editAccesorio.acc_num_serie}}" class="form-control" id="numero_serie_Acc" name="numero_serie_Acc" [(ngModel)]="editAccesorio.acc_num_serie" />
                        <label for="recipient-name" class="col-form-label">Selecciona el servicio</label>
                        <select (change)="servicioSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect01Acc">
                            <option selected>{{editAccesorio.fk_id_servicio}}</option>

                            <option *ngFor="let servicio of servicios" 
                                [value]="servicio.id_servicio">{{servicio.serv_nombre}}
                            </option>
                           
                        </select>
                        <a href="# " class="float-right negro " data-target="#addServ" data-toggle="modal" data-whatever="@mdo">Agregar nuevo servicio</a>



                        <!-- <input type="text" class="form-control" id="id_servicio" name="id_servicio" [(ngModel)]="nuevoAccesorio.fk_id_servicio" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese especificaciones </label>
                        <input type="text" value="{{editAccesorio.acc_especificaciones}}" class="form-control" id="especificaciones_Acc" name="especificaciones_Acc" [(ngModel)]="editAccesorio.acc_especificaciones" />
                        <label for="recipient-name" class="col-form-label">Ingrese proveedor</label>
                        <select (change)="proveedorSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect02Acc">
                            <option selected>{{editAccesorio.fk_id_proveedor}}</option>

                            <option *ngFor="let prove of proveedor" value="{{prove.id_proveedor}}" >{{prove.nombre_proveedor}}</option>
                           
                          </select>
                        <!-- <input type="text" class="form-control" id="provedor" name="provedor" [(ngModel)]="nuevoAccesorio.fk_id_proveedor" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese su encargado</label>
                        <select (change)="encargadoSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect03Acc">
                            <option selected>{{editAccesorio.fk_id_encargado}}</option>

                            <option *ngFor="let per of personal " value ="{{per.id_personal}}" >{{per.personal_nombre}} {{per.personal_apellidos}}</option>
                           
                          </select>
                        <!-- <input type="text" class="form-control" id="encargado" name="encargado" [(ngModel)]="nuevoAccesorio.fk_id_encargado" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese la fecha de compra</label>
                        <input type="date" value="{{editAccesorio.acc_fecha_compra}}" class="form-control" id="fecha_compra_Acc" name="fecha_compra_Acc" [(ngModel)]="editAccesorio.acc_fecha_compra" />
                        <label for="recipient-name" class="col-form-label">Ingrese la fecha de asignacion</label>
                        <input type="date" value="{{editAccesorio.acc_fecha_asignacion}}" class="form-control" id="fecha_asignacion_Acc" name="fecha_asignacion_Acc" [(ngModel)]="editAccesorio.acc_fecha_asignacion" />
                        <label for="recipient-name" class="col-form-label">Ingrese el id de area </label>
                        <select (change)="areaSeleccionada($event.target.value)" class="custom-select" id="inputGroupSelect04Acc">
                            <option selected>{{editAccesorio.fk_id_area}}</option>

                            <option *ngFor="let are of areas" value="{{are.id_area}}" >{{are.area_nombre}}</option>
                           
                          </select>
                        <!-- <input type="text" class="form-control" id="id_area" name="id_area" [(ngModel)]="nuevoAccesorio.fk_id_area" /> -->
                        <label for="recipient-name" class="col-form-label">Ingrese comentarios</label>
                        <input type="text" value="{{editAccesorio.acc_comentarios}}" class="form-control" id="comentarios_Acc" name="comentarios_Acc" [(ngModel)]="editAccesorio.acc_comentarios" />

                        <label for="recipient-name" class="col-form-label">Status</label>
                        <select (change)="statusSeleccionado($event.target.value)" class="custom-select" id="inputGroupSelect05Acc">
                            <option selected>{{editAccesorio.acc_status}}</option>

                            <option  value="true" >Activo</option>
                            <option  value="false" >Inactivo</option>

                           
                          </select>
                        <!-- <input type="text" value="{{editAccesorio.acc_status}}" class="form-control" id="status" name="status" [(ngModel)]="editAccesorio.acc_status" /> -->



                        <div class="modal-footer">
                            <button type="submit" class="btn estilosBotonesHover estilosBotones">
                                Enviar
                            </button>

                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>