<style>
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: rgb(229, 181, 58);
    }
    
    .custom-checkbox .custom-control-input:checked:focus~.custom-control-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(229, 181, 58, 0.6)
    }
    
    .custom-checkbox .custom-control-input:focus~.custom-control-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
    }
    
    .custom-checkbox .custom-control-input:active~.custom-control-label::before {
        background-color: #C8FFC8;
    }
    
    .negro {
        color: black;
    }
    
    textarea:focus,
    input:focus,
    input[type]:focus {
        border-color: rgb(229, 181, 58);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(229, 181, 58, 0.6);
        outline: 0 none;
    }
</style>
<div class="image-fondo" style="background-repeat: no-repeat;">

    <div class=" paddings ">
        <br><br>
        <img class="img-fluid rounded mx-auto d-block " src="../../assets/image/logo.jpeg " alt="clicksoft " width="70% " height="70% " />
        <br />
        <br />

        <form>
            <div class="form-group row ">
                <label for="staticEmail " class="col-sm-2 col-form-label ">Email</label>
                <div class="col-sm-10 ">
                    <input type="text " class="form-control textarea " id=" " placeholder="Ingrese su email ">
                </div>
            </div>

            <div class="form-group row ">
                <label for="inputPassword " class="col-sm-2 col-form-label ">Contraseña</label>
                <div class="col-sm-10 ">
                    <input type="password " class="form-control " id=" " placeholder="Ingrese su contraseña ">
                </div>
            </div>

            <div class="form-group form-check custom-control custom-checkbox ">
                <input type="checkbox " class="form-check-input custom-control-input " id="recordar " name="recordar " />
                <label class="custom-control-label " for="recordar ">Recordarme</label>



                <a href="# " class="float-right negro " data-target="#recuperarContraseña " data-toggle="modal ">Olvidé la contraseña</a>



            </div>

            <button type="submit " class="btn btn-dark mb-2 ">
                Iniciar Sesion
            </button>

        </form>


        <!--Formulario modal Recuperar contraseña-->

        <div class="modal fade " data-backdrop="static " data-keyboard="false " id="recuperarContraseña " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel " aria-hidden="true ">
            <div class="modal-dialog " role="document ">
                <div class="modal-content ">
                    <div class="modal-header bgCorp ">
                        <a></a>
                        <h5>
                            Recuperar contraseña
                        </h5>
                        <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
          </button>
                    </div>
                    <div class="modal-body ">
                        <form>
                            <div class="form-group ">
                                <label for="recipient-name " class="col-form-label ">Ingrese su correo electrónico</label>
                                <input type="text " class="form-control " id="recuperaPasword " name="recuperaPassword " />
                            </div>

                            <div class="modal-footer ">

                                <button type="submit " class="btn estilosBotonesHover estilosBotones ">
                    Enviar
                  </button>

                                <button type="button " class="btn estilosBotonesHover estilosBotones " data-dismiss="modal ">
                    Cancelar
                  </button>


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>