<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <div class="btn-group">
                    <button type="button" class=" form-control btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Accesorios
                    </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Accesorios']">Tabla de Accesorios</a>

                        <div class="dropdown-divider"></div>
                        <a href="# " class="float-right negro " data-target="#accesorioModal " data-toggle="modal" data-whatever="@mdo">Agreagar accesorios</a>

                    </div>
                </div>


                <br><br>
                <div class="btn-group">

                    <button type="button" class="form-control btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mobiliario
                    </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Mobiliario']">Tabla de mobiliario</a>
                        <div class="dropdown-divider"></div>
                        <p>Agregar Mobiliario</p>
                    </div>
                </div>
                <br><br>

                <div class="btn-group">

                    <button type="button" class="form-control btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Comunicacion
                  </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Comunicacion']">Tabla de comunicacion</a>
                        <div class="dropdown-divider"></div>
                        <p>Agregar comunicacion</p>
                    </div>
                </div>
                <br><br>

                <div class="btn-group">

                    <button type="button" class="form-control btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hardware
                    </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Hardware']">Tabla de hardware</a>
                        <div class="dropdown-divider"></div>
                        <p>Agregar hardware</p>
                    </div>
                </div>
                <br><br>

                <div class="btn-group">

                    <button type="button" class="form-control btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Papeleria
                    </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Papeleria']">Tabla de papeleria</a>
                        <div class="dropdown-divider"></div>
                        <p>Agregar papeleria</p>
                    </div>
                </div>
                <br><br>

                <div class="btn-group">

                    <button type="button" class="form-control btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Limpieza
                    </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Limpieza']">Tabla de limpieza</a>
                        <div class="dropdown-divider"></div>
                        <p>Agregar limpieza</p>
                    </div>
                </div>
                <br><br>

                <div class="btn-group">

                    <button type="button" class="form-control btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Insumos
                    </button>
                    <div class="dropdown-menu">
                        <a [routerLink]="['/Insumos']">Tabla de insumos</a>
                        <div class="dropdown-divider"></div>
                        <p>Agregar insumo</p>
                    </div>
                </div>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>


</div>


<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

<!-- Modal Proveedor -->
<div class="modal animated fadeIn" tabindex="-1" role="dialog" id="accesorioModal">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title center">Registrar nuevo proveedor</h3>
            </div>
            <!-- Envio formulario -->
            <!-- <form ngNativeValidate [formGroup]="formAccesorio" class="form-horizontal form-material" (ngSubmit)="crearAccesorio()" autocomplete="off">

            </form> -->
        </div>
    </div>
</div>